<launch>
  <!-- Arguments -->
  <arg name="configuration_basename" default="myhamster_lds_2d_gazebo.lua"/>

  <!-- slam_karto -->
  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <rosparam command="load" file="$(find myhamster_slam)/config/karto_mapper_params.yaml" />
  </node>
</launch>