<launch>
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find mytutorial_pkg)/config/amcl_params.yaml" command="load" />

	    <param name="initial_pose_x" value="-0.5"/>
		<param name="initial_pose_y" value="0"/>
		<param name="initial_pose_a" value="0"/>
	</node>

</launch>