<?xml version="1.0"?>
<launch>

  <!-- load gazebo simulation environment -->
  <env name="GAZEBO_MODEL_PATH" value="$(find myhamster_simulation)/models"/>

  <arg name="gazebo_world" default="$(find myhamster_simulation)/worlds/my_world2.world"/> <!-- cogni_office -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg gazebo_world)"/>
    <arg name="gui" value="true"/>  
    <arg name="headless" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="debug" value="false"/>
  </include>


</launch>