<?xml version="1.0"?>

<model>
  <name>small_table_with_cars</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>cogniteam</name>
    <email>yderi@iai.co.il</email>
  </author>

  <description>
    A model of a small_table_with_cars.
  </description>

</model>
