<?xml version="1.0"?>
<launch>
  <!-- robot name -->
  <arg name="agent" default="hamster"/>
  <arg name="cmd_timeout" default="0.5"/>
  <arg name="x_pos" default="-1.5"/>
  <arg name="y_pos" default="-0.75"/>
  <arg name="z_pos" default="0.1"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="robot_version" default="V7"/>
  <arg name="gui" default="true"/>

  <!-- load gazebo simulation environment -->
  <env name="GAZEBO_MODEL_PATH" value="$(find myhamster_simulation)/models"/>

  <arg name="gazebo_world" default="$(find myhamster_simulation)/worlds/my_world1.world"/> <!-- cogni_office -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg gazebo_world)"/>
    <arg name="gui" value="$(arg gui)"/>  
    <arg name="headless" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- spawn robot -->
  <param name="robot_description" command="$(find xacro)/xacro $(find myhamster_simulation)/urdf/hamster.urdf.xacro
    agent:=$(arg agent) robot_version:=$(arg robot_version)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="10" />
    <!--<param name="tf_prefix" value="$(arg agent)" />-->
  </node>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" 
    args="-urdf 
          -param robot_description 
          -model $(arg agent) 
          -x $(arg x_pos)
          -y $(arg y_pos) 
          -z $(arg z_pos) 
          -R $(arg roll) 
          -P $(arg pitch) 
          -Y $(arg yaw)" />

  <arg name="use_rviz" default="false"/>
  <arg if="$(arg use_rviz)" name="rvizpath" default="$(find myhamster_simulation)/rviz/rviz_basic.rviz"/>
  <node if="$(arg use_rviz)" pkg="rviz" type="rviz" name="rviz" 
    args="-d $(arg rvizpath)" />

</launch>